/* Animation for blinking yellow nav item */
@keyframes blinker {
  
  25% {
    color: yellow;
    transform: scale(1.1);
  }
  50% {
    color: white;
  }
  75% {
    color: yellow;
    transform: scale(0.9);
  }
}
@keyframes smallBlinker {
  0% {
    color: black;
  }
  50% {
    color: yellow;
    transform: scale(1.07);
  }
}

.active {
  color: green;
}
.navbar {
  width: 100wv;
  /* position: absolute;
  top: 0;
  left: 0; */
  height: 50px;
  /* background-color: rgb(75, 75, 70);
   */
  background-image: url('../../public/test.avif');
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 3px dashed salmon;
}
a {
  font-size: 1rem;
  /* letter-spacing: 3px; */
  font-family: "PressStart2P";
  font-weight: 100;
  color: white;
  text-decoration: none;
  animation-name: blinker;
  animation-duration: infinite;
  text-shadow: 4px 0px black;
}
a:hover {
  animation: blinker 1s linear infinite;
}
/* a:visited { */
/* color: #0d47a1; */
/* } */
