.todoPageWrap {
  /* height: calc(100vh - 50px - 10%); */
  margin-top: 10%;
  width: 100vw;
}
.addTodoWrap {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  /* flex-direction: r; */
}
.todoListWrap {
  width: fit-content;
  margin: 0 auto;

}
.todoListWrap ul{
  padding: 0px;
}
.completeBtn {
  width: 30px;
  height: 30px;
  border-radius: 90px;
  border: 1px solid black;
}